<div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
    <div class="card-header">
      Menü
    </div>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item"> <a href="{% url 'profil-guncelle' %}">Profil Düzenle</a></li>
      <li class="list-group-item"> <a href="{% url 'sifre-degistir' %}">Şifre Değiştir</a></li>
      <li class="list-group-item"> <a href="{% url 'yazi-ekle' %}">Yazı ekle</a></li>
      <li class="list-group-item"> <a href="{% url 'yazilarim' %}">Yazılarım</a></li>
      <li class="list-group-item"> <a href="{% url 'cikis' %}">Çıkış Yap</a></li>
    </ul>
</div>

<div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
  <script language="javascript" src="http://ir.sitekodlari.com/tarihvesaat1.js"></script>
</div>